body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    margin: 0;
    color: #333;
}

.container {
    background: white;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1, h2 {
    text-align: center;
    color: #2e59d9;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #4e73df;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #2e59d9;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f8f9fc;
}

.bookingStatus p {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

#currentBooking {
    background-color: #f28b82; /* punane */
    color: white;
}

#nextBooking {
    background-color: #34a853; /* roheline */
    color: white;
}
